/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.latest-post-slider {
	a {
		color: #000000;
		text-decoration: none;
	}
	.mat-card-header-text {
		margin: 10px 0px;
	}
	&__location {
		color: green;
		margin-bottom: 10px;
	}
	&__price {
		font-size: 24px;
		color: #464646;
	}
}


.slick-track {
	margin-top: 30px;
	margin-bottom: 30px;
}

.mat-table {
    width: 100%;
}

table.item-listing {
	width: 100%;
}

table img {
	width: 100%;
	max-width: 250px;
}

@media (min-width: 1200px) {
	table img {
		min-width: 300px;
	}
	.cdk-column-Img {
		width: 40%;
	}

	.cdk-column-Content {
		width: 60%;
	}

	.mat-row {
		margin: 15px 0px;
	}


}