<div>
	<h1>Latest post</h1>
	<ngx-slick-carousel
		class="carousel"
		#slickModal="slick-carousel"
		[config]="slideConfig"
		(init)="slickInit($event)">
		<div ngxSlickItem *ngFor="let item of dataSource" class="slide">
			<mat-card>
				<div class="card-img-container" style="background-image: url('https://dummyimage.com/600x400/000/fff');">
				</div>
				<mat-card-header>
					<mat-card-title>
						<a routerLink="{{ item.Id }}">
							{{ item.Title }}
						</a>
					</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<mat-list>
						<mat-list-item>
							<b></b>
						</mat-list-item>
						<mat-divider></mat-divider>
					</mat-list>
				</mat-card-content>
				<mat-card-actions> </mat-card-actions>
			</mat-card>
		</div>
	</ngx-slick-carousel>
</div>

